In [1]:
import pandas as pd
import numpy as np
from haversine import haversine
import time
from tqdm import tqdm

distance = pd.read_csv("C:\\Users\\USER\\Desktop\\제주전기차_수정\\전처리데이터.csv", engine='python')

In [2]:
distance.fillna(0, inplace=True)

In [3]:
distance.head(10)

,gid,주차장,건물1,건물2,건물3,관공서,생산가능인구,전기차,충전소,lon,lat
0,다다50bb02ba,0.0,0,0,0,0,0.0,0,0,126.971038,33.514392
1,다다50bb01aa,0.0,0,0,0,0,0.0,0,0,126.971120,33.500863
2,다다50bb00bb,0.0,0,0,0,0,0.0,0,0,126.971134,33.498608
3,다다50ba02bb,0.0,0,0,0,0,0.0,0,0,126.968332,33.516635
4,다다50ba02ba,0.0,0,0,0,0,0.0,0,0,126.968346,33.514380
5,다다50ba02aa,0.0,0,0,0,0,0.0,0,0,126.968374,33.509870
6,다다50ba01bb,0.0,0,0,0,0,0.0,0,0,126.968387,33.507616
7,다다50ba01ba,0.0,0,0,0,0,0.0,0,0,126.968401,33.505361
8,다다50ba01ab,0.0,0,0,0,0,15.0,1,0,126.968415,33.503106
9,다다50ba01aa,0.0,0,0,0,0,10.0,0,0,126.968429,33.500851

In [4]:
distance['거리_전기차'] = 0
distance['거리_충전소'] = 0

In [34]:
distance2=distance[distance['전기차']!=0]
distance2.head(5)

,gid,주차장,건물1,건물2,건물3,관공서,생산가능인구,전기차,충전소,lon,lat,거리_전기차,거리_충전소
8,다다50ba01ab,0.0,0,0,0,0,15.0,1,0,126.968415,33.503106,0,0
10,다다50ba00bb,1.0,0,0,0,0,27.0,1,0,126.968442,33.498596,0,0
13,다다50ab02ab,0.0,0,0,0,0,44.0,1,0,126.965668,33.512114,0,0
14,다다50ab02aa,0.0,0,0,0,0,0.0,2,0,126.965682,33.509859,0,0
17,다다50ab01ab,0.0,0,0,0,0,44.0,1,0,126.965723,33.503094,0,0

KeyError: 1

In [10]:
for j in tqdm(range(0, len(distance))):
    for i in (range(0, len(distance2))):
        lon = distance['lon'][j]
        lat = distance['lat'][j]
        lon2 = distance2['lon'][i].reset_index(drop=True)
        lat2 = distance2['lat'][i].reset_index(drop=True)
        a = (lat, lon)
        b = (lat2, lon2)
        c = haversine(a, b) * 1000
        if c <= 500:
             distance['거리_전기차'][j] = 1

  0%|                                                                              | 1/30528 [00:00<1:40:23,  5.07it/s]<ipython-input-10-50df970d2106>:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  distance['거리_전기차'][j] = 1
100%|██████████████████████████████████████████████████████████████████████████| 30528/30528 [1:44:44<00:00,  4.86it/s]

,gid,주차장,건물1,건물2,건물3,행정기관,도서관,생산가능인구,교통량,전기차,충전소,관광지,lon,lat,거리_전기차,거리_충전소,거리_교통량
0,다다50bb02ba,0.0,1,0,0,0,0,0.0,0.0,0,0,0,126.971038,33.514392,0,0,0
1,다다50bb01aa,0.0,0,0,0,0,0,0.0,0.0,0,0,0,126.971120,33.500863,1,0,0
2,다다50bb00bb,0.0,1,0,0,0,0,0.0,0.0,0,0,0,126.971134,33.498608,1,0,0
3,다다50ba02bb,0.0,0,0,0,0,0,0.0,0.0,0,0,0,126.968332,33.516635,0,0,0
4,다다50ba02ba,0.0,3,0,0,0,0,0.0,0.0,0,0,0,126.968346,33.514380,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30523,나나74ab80ab,0.0,0,0,0,0,0,0.0,0.0,0,0,0,126.150556,33.307503,0,0,0
30524,나나74aa80bb,0.0,0,0,0,0,0,0.0,0.0,0,0,0,126.147801,33.311982,0,0,0
30525,나나74aa80ba,0.0,0,0,0,0,0,0.0,0.0,0,0,0,126.147836,33.309728,0,0,0
30526,나나73bb80bb,0.0,0,0,0,0,0,0.0,0.0,0,0,0,126.145116,33.311953,0,0,0
30527,나나73bb80ba,0.0,0,0,0,0,0,0.0,0.0,0,0,0,126.145151,33.309699,0,0,0

In [11]:
distance3=distance[distance['충전소']!=0].reset_index(drop=True)
distance3.head(5)

In [12]:
for j in tqdm(range(0, len(distance))):
    for i in range(0, len(distance3)):
        lon = distance['lon'][j]
        lat = distance['lat'][j]
        lon2 = distance3['lon'][i]
        lat2 = distance3['lat'][i]
        a = (lat, lon)
        b = (lat2, lon2)
        c = haversine(a, b) * 1000
        if c <= 500:
             distance['거리_충전소'][j] = 1

  0%|                                                                             | 49/30528 [00:08<1:29:16,  5.69it/s]<ipython-input-12-a57e527ced42>:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  distance['거리_충전소'][j] = 1
100%|██████████████████████████████████████████████████████████████████████████| 30528/30528 [1:27:22<00:00,  5.82it/s]

In [16]:
distance4=distance[distance['교통량']!=0].reset_index(drop=True)
distance4.head(5)

,gid,주차장,건물1,건물2,건물3,행정기관,도서관,생산가능인구,교통량,전기차,충전소,관광지,lon,lat,거리_전기차,거리_충전소,거리_교통량
0,다다40aa03bb,2.0,106,16,1,0,0,203.0,147.0,9,0,0,126.855207,33.525117,0,1,0
1,다다34bb00aa,0.0,1,0,0,0,0,0.0,115.0,0,0,0,126.798947,33.490989,0,0,0
2,다다30ba07ab,0.0,192,11,0,0,0,251.0,140.0,15,0,0,126.752637,33.556108,0,1,0
3,다다22bb05ab,0.0,20,10,0,0,0,97.0,248.0,7,1,0,126.669328,33.537539,0,1,0
4,다다22ba05bb,1.0,90,22,0,0,0,147.0,358.0,4,0,0,126.666593,33.542030,0,1,0

In [17]:
for j in tqdm(range(0, len(distance))):
    for i in range(0, len(distance4)):
        lon = distance['lon'][j]
        lat = distance['lat'][j]
        lon2 = distance4['lon'][i]
        lat2 = distance4['lat'][i]
        a = (lat, lon)
        b = (lat2, lon2)
        c = haversine(a, b) * 1000
        if c <= 500:
             distance['거리_교통량'][j] = 1

  1%|█                                                                            | 423/30528 [00:03<04:22, 114.82it/s]<ipython-input-17-b7a67070dfbc>:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  distance['거리_교통량'][j] = 1
100%|███████████████████████████████████████████████████████████████████████████| 30528/30528 [04:22<00:00, 116.19it/s]

In [20]:
distance4['lon']

0      126.855207
1      126.798947
2      126.752637
3      126.669328
4      126.666593
          ...
170    126.257503
171    126.245984
172    126.244333
173    126.235299
174    126.174822
Name: lon, Length: 175, dtype: float64

In [13]:
distance.to_csv("C:\\Users\\USER\\Desktop\\제주전기차\\결과물\\전처리데이터2.csv",
                header = True, index=False, sep=',', encoding='cp949')