## 파일명 및 경로 지정

In [16]:
건물셋 = 'C:\\Users\\USER\Desktop\\제주전기차_수정\\Z_KAIS_TL_SPBD_BULD_제주\\건물_위경도.csv'
가점척도 = 'C:\\Users\\USER\Desktop\\제주전기차_수정\\건물가점_전처리.csv'

## 데이터 및 패키지 로드 후 컬럼명 수정

In [17]:
import pandas as pd

건물 = pd.read_csv(f'{건물셋}', header = 0, encoding = 'cp949')
가점 = pd.read_csv(f'{가점척도}', header = 0, encoding = 'cp949')
건물.rename(columns = {'BDTYP_CD' : '건물용도코드'}, inplace = True)
건물.rename(columns = {'BUL_MAN_NO': '건물일련번호'}, inplace = True)
display(건물.head(2))

,건물용도코드,BD_MGT_SN,BSI_INT_SN,BSI_ZON_NO,BULD_MNNM,BULD_NM,BULD_NM_DC,BULD_SE_CD,BULD_SLNO,BUL_DPN_SE,...,NTFC_DE,OPERT_DE,POS_BUL_NM,RDS_MAN_NO,RDS_SIG_CD,RN_CD,SIG_CD,UND_FLO_CO,lon,lat
0,14001,5011031021132600001000001,75013,63007,2,NaN,NaN,0,0,M,...,20150512.0,2.015051e+13,NaN,1837,50110,3020001,50110,0,126.233194,33.293186
1,14001,5011031021132600001000002,75013,63007,2,NaN,NaN,0,0,M,...,20150512.0,2.015051e+13,NaN,1837,50110,3020001,50110,0,126.233407,33.293197

## 건물용도코드에 따라 가점척도 부여 및 불필요 컬럼 제거

In [18]:
merged = 건물.merge(가점, on = '건물용도코드')
merged = merged[['건물용도코드', '건물종류', '건물일련번호', '가점척도', 'lon', 'lat']]
merged.head(2)

   건물용도코드 건물종류  건물일련번호  가점척도         lon        lat
0   14001   창고  143095     1  126.233194  33.293186
1   14001   창고  143096     1  126.233407  33.293197

## 가점척도별 데이터 분류 및 csv파일로 추출

In [19]:
가점갯수 = len(merged['가점척도'].unique())
bd = [None] * 가점갯수

for i in range(가점갯수):
    bd[i] = merged[merged['가점척도'] == i]
    bd[i].to_csv(f'C:\\Users\\USER\Desktop\\제주전기차_수정\\Z_KAIS_TL_SPBD_BULD_제주\\건물{i}.csv',
                 index = False, sep = ',', encoding = 'cp949')
    display(bd[i].iloc[[0]])

for i in range(가점갯수):
    print(f'{i}점 건물수:', len(bd[i]))

        건물용도코드   건물종류  건물일련번호  가점척도         lon        lat
184732    3021  마을공회당   73356     0  126.233771  33.292718

   건물용도코드 건물종류  건물일련번호  가점척도         lon        lat
0   14001   창고  143095     1  126.233194  33.293186

        건물용도코드 건물종류  건물일련번호  가점척도         lon        lat
184976    3108  보건소   73331     2  126.234153  33.292819

        건물용도코드   건물종류  건물일련번호  가점척도         lon        lat
222485    6203  대형판매점    1174     3  126.480432  33.484965

0점 건물수: 13900
1점 건물수: 207584
2점 건물수: 13824
3점 건물수: 2260