# 거리계산(계산하는데에 시간이 오래걸림)

In [2]:
import pandas as pd
import numpy as np
from haversine import haversine

distance = pd.read_csv('C:\\Users\\USER\\Desktop\\제주전기차_수정\\전처리데이터.csv', engine = 'python', encoding = 'euc-kr').copy()
distance.head(3)

,gid,주차장,건물1,건물2,건물3,관공서,생산가능인구,전기차,충전소,lon,lat
0,다다50bb02ba,NaN,0,0,0,0,NaN,0,0,126.971038,33.514392
1,다다50bb01aa,NaN,0,0,0,0,NaN,0,0,126.971120,33.500863
2,다다50bb00bb,NaN,0,0,0,0,NaN,0,0,126.971134,33.498608

## NULL값 0으로 치환 후, 새로운 컬럼 생성

In [3]:
distance.fillna(0, inplace= True)
distance['거리_전기차']= 0
distance['거리_충전소'] = 0
distance.tail(5)

,gid,주차장,건물1,건물2,건물3,관공서,생산가능인구,전기차,충전소,lon,lat,거리_전기차,거리_충전소
30523,나나74ab80ab,0.0,0,0,0,0,0.0,0,0,126.150556,33.307503,0,0
30524,나나74aa80bb,0.0,0,0,0,0,0.0,0,0,126.147801,33.311982,0,0
30525,나나74aa80ba,0.0,0,0,0,0,0.0,0,0,126.147836,33.309728,0,0
30526,나나73bb80bb,0.0,0,0,0,0,0.0,0,0,126.145116,33.311953,0,0
30527,나나73bb80ba,0.0,0,0,0,0,0.0,0,0,126.145151,33.309699,0,0

## 전기차 값이 0 이 아닌 데이터만 따로 추출 및 저장 (전기차 데이터 아직 없음)

In [5]:
distance2 = distance[distance['전기차']!=0].copy()
distance2.tail(5)

,gid,주차장,건물1,건물2,건물3,관공서,생산가능인구,전기차,충전소,lon,lat,거리_전기차,거리_충전소
30488,나나75bb78aa,0.0,0,0,0,0,24.0,1,0,126.166973,33.287387,0,0
30494,나나75ba82ba,0.0,0,0,0,0,0.0,1,0,126.163670,33.327937,0,0
30498,나나75ba80ba,0.0,0,0,0,0,6.0,1,0,126.163946,33.309902,0,0
30499,나나75ba80ab,0.0,0,0,0,0,18.0,3,2,126.163980,33.307648,0,0
30507,나나75ba77bb,0.0,0,0,0,0,0.0,1,0,126.164324,33.285104,0,0

## 거리 계산 및 컬럼에 표시

In [ ]:
for i in range(0, len(distance)):
    for j in range(0, len(distance2)):
        lon = distance['lon'][i]
        lat = distance['lat'][i]
        lon2 = distance2['lon'].reset_index(drop=True)[j]
        lat2 = distance2['lat'].reset_index(drop=True)[j]
        a = (lat, lon)
        b = (lat2, lon2)
        c= haversine(a, b) * 1000
        # 500m 내 모든 격자에 표시, 거리는 분석 목적에 따라 조절
        if c <= 500:
            distance['거리_전기차'].copy()[i] = 1

## 충전소 값이 0이 아닌 데이터만 따로 추출 및 저장

In [ ]:
distance3 = distance[distance['충전소']!=0]
distance3.tail(5)

In [ ]:
# 무시
#pd.set_option('mode.chained_assignment',  None) # <==== 경고를 끈다
for i in range(0, len(distance)):
    for j in range(0, len(distance3)):
        lon = distance['lon'][i]
        lat = distance['lat'][i]
        lon2 = distance3['lon'].reset_index(drop=True)[j]
        lat2 = distance3['lat'].reset_index(drop=True)[j]
        a = (lat, lon)
        b = (lat2, lon2)
        c = haversine(a, b) * 1000
        # 500m 내 모든 격자에 표시, 거리는 분석 목적에 따라 조절
        if c <= 500:
            # distance_df = distance['거리_충전소'].copy()
            # distance_df['거리_충전소'][i] = 1 
            distance['거리_충전소'][i] = 1

## 교통량 값이 0이 아닌 데이터만 따로 추출 및 저장

In [ ]:
distance4 = distance[distance['교통량']!=0]
distance4.head(5)

In [ ]:
for i in range(0, len(distance)):
    for j in range(0, len(distance4)):
        lon = distance['lat'][i]
        lat = distance['lon'][i]
        lon2 = distance4['lat'].reset_index(drop=True)[j]
        lat2 = distance4['lon'].reset_index(drop=True)[j]
        a = (lat, lon)
        b = (lat2, lon2)
        c= haversine(a, b) * 1000
        # 500m 내 모든 격자에 표시, 거리는 분석 목적에 따라 조절
        if c <= 500:
            distance['거리_교통량'][i] = 1

In [ ]:
distance.head(5)
distance.tail(5)
distance.to_csv('C:\\Users\\USER\\Desktop\\제주전기차\\결과물\\전처리데이터2.csv', header = True, index = False, sep = ',', encoding = 'cpc949')

# 변수 산정

In [ ]:
전처리데이터셋 = 'C:\\Users\\USER\\Desktop\\제주전기차\\결과물\\전처리데이터2.csv'

In [ ]:
import pandas as pd
df = pd.read_csv(f'{전처리데이터셋}', header = 0, encoding = 'cp949', engine = 'python')
df.set_index('gid', inplace = True)
전체컬럼 = df.columns.tolist()
print('여기 컬럼명을 확인하신 후 점수계산에 필요한 컬럼명만 복사 하세요. \n', 전체컬럼)

## 필요 변수 산정 및 확인(필요 목적에 따라 변수 제거 및 조정 가능)

In [ ]:
점수컬럼 = ['주차장', '건물1', '건물2', '건물3', '관공서', '생산가능인구',
       '충전소', '교통량', '유동인구', '거리_충전소', '거리_교통량'] #전기차, 거리_전기차 추후 입력, 데이터 없음

print('입력한 점수컬럼명은 다음과 같음\n', 점수컬럼)
가중치 = [1] * len(점수컬럼)

# 가중치 설정 및 정규화

## 가중치 설정

In [ ]:
# 점수컬럼 순서대로 점수컬럼 갯수 만큼 가중치를 입력
가중치 = [1, 1, 2, 3, 3, 1, -3, 1, 1, -3, 1] # 거리_전기차 추후 가중치 추가

if(len(가중치) != len(점수컬럼)):
    print('입력한 가중치 갯수가 점수컬럼 갯수와 다르므로 확인후 다시 입력 바랍니다')
else:
    print('다음 줄을 실행 하세요')

In [ ]:
df

## 가중치 정규화

## MinMax 정규화 진행

In [ ]:
df = pd.read_csv(f'{전처리데이터셋}', header = 0, encoding = 'cp949', engine = 'python')
df.set_index('gid', inplace = True)

pre_process_set = pd.read_csv('f{전처리데이터셋}', header = 0, encoding = 'cp949', engine = 'python')
pre_process_set = pre_process_set.sort_values(by = 'gid')

pre_process_set.fillna(0, inplace = True)

# MinMax 정규화
from sklearn.preprecessing import MinMaxScaler
scaler = MinMaxScaler()

# 점수 컬럼 정규화
norm = pre_process_set.copy()
norm.fillna(0, inplace = True)
norm.set_index('gid', inplace = True)

norm[점수컬럼] = scaler.fit_transform(norm.loc[:, 점수컬럼])
norm.reset_index(inplace = True)

# 격자별 순위 산정

## 총점 계산 및 격자별 순위 산정

In [ ]:
df = norm.copy()
#총점 계산
for i in range(0, len(점수컬럼)):
    name = 점수컬럼[i]
    df[name] = df[name] * 가중치[i]
    
df.set_index(['gid', '주차장', '경도', '위도'], inplace = True)
df['sum'] = df.sum(1)
df.reset_index(inplace = True)

# 등수 계산
df['순위'] = df['sum'].rank(method = 'dense', ascending = False).astype(int)

final = df.sort_value(by = '순위')
final.reset_index(drop = True, inplace =  True)

# 상위 20개만 확인
display('결과', final.head())

# 최종 결과 csv파일쓰기
final.to_csv('', index = False, sep = ',', encoding = 'co949')

# 결과 시각화

In [ ]:
지도보기갯수 = 20
import folium
print(f'보고자 하는 상위권 갯수는 {지도보기갯수}개 입니다.')

for i in range(지도보기갯수):
    지도보기 = folium.Map(location = [final.loc[i, '위도'], final.loc[i, '경도']], zoom_start = 15)
    folium.Marker([final.loc[i, '위도'], final.loc[i, '경도']]).add_to(지도보기)
    print(final.loc[i, '위도'], final.loc[i, '경도'])
    j = i + 1
    display(f'상위{j}번째 격자의 센터 위치 보기', 지도보기)